html {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 3% 8%;
    background: -moz-linear-gradient(155deg, #1a2980, #259492);
    background: -webkit-linear-gradient(155deg, #1a2980, #259492); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(155deg, #1a2980, #259492); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'IBM Plex Sans', sans-serif;
}

label {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

input {
    padding-left: 12px;
    min-height: 30px;
    color: rgb(201, 201, 201);
    background-color:rgba(228, 228, 228, 0.096);
    border: none;
    border-radius: 3px;
}

button {
    height: 7vh;
    min-height: 40px;
    max-width: 150px;
    width: 20vw;
    color: white;
    background-color: #259492;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #4fa7a7;
}

button:active {
    -moz-box-shadow:    inset 0px 0px 5px #144342;
    -webkit-box-shadow: inset 0px 0px 5px #144342;
    box-shadow:         inset 0px 0px 5px #144342;
}

content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.btn-group button {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
}

#show-options {
    margin-top: 10px;
    margin-right: 15px;
}

#title {
    margin-top: 8vh;
    text-align: center;
    color: white;
}

#function {
    height: 6vh;
    min-height: 50px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(201, 201, 201);
    opacity: 1; /* Firefox */
  }

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(201, 201, 201);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(201, 201, 201);
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.data-in {
    padding: 2em;
    border-radius: 10px;
    border-width: 5em;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.options {
    margin-top: 20px;
    border-collapse: collapse;
    border-width: 5em;
    align-items: center;
    min-width: 50%;
    grid-template-columns:
        minmax(150px, 1fr)
        minmax(150px, 4fr)
}

.options .row, .options .col {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.options .row {
    display: contents;
}

.options .col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.data-out {
    border-width: 5em;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}

thead {
    color: white;
}

tbody {
    color: white;
}

th {
    background-color: rgba(37, 148, 146, .6);
    font-weight: 600;
    text-align:  left;
    height: 7vh;
    padding-left: 3vw;
}

td {
    background-color: rgba(201, 201, 201, .1);
    text-align: left;
    height: 5vh;
    padding: 1vw 1vw 1vw 3vw;
}

td:hover {
    background-color: rgba(201, 201, 201, .4);
}

tr:hover {
    background-color: rgba(201, 201, 201, .2);
}


/* MEDIA QUERIES */
/* Small devices (portrait/landscape tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        min-height: 100vh;
    }

    button {
        height: 5vh;
    }

    button:focus {
        -moz-box-shadow:    inset 0px 0px 2px #144342;
        -webkit-box-shadow: inset 0px 0px 2px #144342;
        box-shadow:         inset 0px 0px 2px #144342;
    }

    th {
        height: 5vh;
    }

    #function {
        max-width: 100%;
    }
}

/*Phones with smaller screens*/
@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
    }

    button {
        width: 90px;
    }

    button:focus {
        -moz-box-shadow:    inset 0px 0px 2px #144342;
        -webkit-box-shadow: inset 0px 0px 2px #144342;
        box-shadow:         inset 0px 0px 2px #144342;
    }

    .data-in {
        padding: 1em;
    }

    #function {
        max-width: 90%;
    }
}
